<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>

    <h3>Hello, User</h3>

    <a href="/registration">Sign On</a>
    <a href="/login">Sign In</a>


</main>
</body>
</html>
