<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{{#entity}}
    <p>Test entity <i>{{firstName}} {{lastName}}</i> successfully added!</p>
{{/entity}}

<form action="/" method="post">
    <fieldset>
        <label>
            Enter first name:
            <input name="firstName" required maxlength="100"/>
        </label>
        <label>
            Enter last name:
            <input name="lastName" required maxlength="100"/>
        </label>
        <button type="submit">Send</button>
    </fieldset>
</form>

<form action="/all" method="get">
    <button type="submit">Show all</button>
</form>

{{#all}}
    =============================
    <br><br>
    {{firstName}} {{lastName}}
    <br><br>
{{/all}}

</body>
</html>
