<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{#message}}
    <h1>Hello, {{message}}</h1>
{{/message}}

<form action="/" method="post">
    <fieldset>
        <label>
            Enter your name:
            <input required name="message">
        </label>
        <button type="submit">Send</button>
    </fieldset>
</form>
</body>
</html>