<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{{#entity}}
    <p>Test entity <i>{{firstName}} {{lastName}}</i> successfully added!</p>
{{/entity}}

<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="_csrf.token">
    <input type="submit" value="Sign Out">
</form>

<form action="/" method="post" style="width: 700px;">
    <fieldset>
        <label>
            Enter first name:
            <input name="firstName" required maxlength="100"/>
        </label>
        <label>
            Enter last name:
            <input name="lastName" required maxlength="100"/>
        </label>
        <button type="submit">Send</button>
    </fieldset>
</form>

<a href="/all" style=" text-decoration: none;">
    <br>
    <fieldset style="width: 100px; height: 20px; margin: 0; padding: 0; text-align: center; color: black" >
        <span>Show all</span>
    </fieldset>
</a>

{{#all}}
    <br>
    <form action="/del" method="post" style="width: 300px;">
        <fieldset>
            <input type="hidden" name="id" value="{{id}}">
            {{firstName}} {{lastName}}
            <button type="submit" style="float: right">Delete</button>
        </fieldset>
    </form>
{{/all}}

</body>
</html>
