<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>

    {{#message}}<h4>{{.}}</h4>{{/message}}

    <form action="/registration" method="post" style="width: 500px">
        <fieldset>
            <label>Enter login:* <input type="text" name="username" required maxlength="100" style="float: right"/></label>
            <br><br>
            <label>Enter password:* <input type="password" name="password" required maxlength="20" style="float: right"/></label>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <br>
            <input type="submit" value="Sign On"/>
        </fieldset>
    </form>


</main>
</body>
</html>
